nav {
    display: flex;
    justify-content: center;
    background: #512DA8;
}

.mat-tab-link {
    color: #f5f5f5;
}

button {
    position: absolute;
    overflow: hidden;
    right: 50px;
    top: 220px;
    z-index: 0;
}